* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

#navbar-container {
  padding: 24px;
}

.navbar {
  justify-content: space-around;
}

#logo {
  border-radius: 50%;
  height: 80px;
  cursor: pointer;
}

.navLinks {
  gap: 10px;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #344563;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.food-sections {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  justify-content: center;
  }

.food-box {
  border: 1px solid grey;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  max-width: 310px;
}

.img {
  width: 310px;
  height: 50vh;
  object-fit: fill;
}

.like-content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.card-body p {
  font-size: 20px;
  font-weight: bold;
}

.card-content {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.review-btn {
  font-size: 15px;
  padding: 5px 10px;
}

footer {
  padding: 15px;
  margin-top: 50px;
  border-top: 2px solid gray;
}
